page-meus-cupons {
    .splash-bg {
    position: relative;
    background: #54c0eb; 
    background-size: cover;
    height: 100%;
    z-index: 1;
  } 

  .toolbar-background {
    background-color: #f7d326;
  }

  .card-md{
    border-radius: 20px;
  }

}
