<div class="espacamento-menu">
  <!--<div class="container">

    <div class="row">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="list-group">
        <div class="card" style="width: 20rem;">

          <li *ngFor="let produto of produtos" class="list-group-item">

            <div class="card-block">
              <h4 class="card-title">{{ produto.nome }}</h4>
              <p class="card-text">{{ produto.descricao }}</p>
              <a [routerLink]="['/produto', produto.id]" class="btn btn-primary">Comprar</a>
            </div>

          </li>
      
        </div>
      </div>
    </div>

  </div>-->

  <div class="container">

    <div *ngFor="let cupom of cupons | async" style="padding-top:2%">

      <div class="card text-center">
        <div class="card-header">
          Novidade
        </div>
        <div class="card-block">
          <h4 class="card-title">{{ cupom.info_lote.nome }}</h4>
          <p class="card-text">{{ cupom.info_lote.descricao }}</p>
          <a [routerLink]="['/produto', cupom.$key]" class="btn btn-primary">Comprar</a>
        </div>
        <div class="card-footer text-muted">
          R$ {{ cupom.info_lote.valor }}
        </div>
      </div>

    </div>

  </div>

  <!--<div class="container" style="padding-top: 5%">
    <div class="row">
      <ul class="list-group">
        <li *ngFor="let cupom of cupons | async" class="list-group-item">Empresa: {{cupom.info_lote.nome}}</li>
      </ul>
    </div>
  </div>-->
</div>