<ion-header>

  <ion-navbar>
    <ion-title>Entrar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Seu endereço de e-mail"
        [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Entre com um e-mail válido</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Sua senha"
        [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Sua senha precisa ter mais de 6 caracteres.</p>
    </ion-item>
    <button ion-button block type="submit">
      Entrar
    </button>
  </form>

  <button ion-button block clear (click)="register()">
    Não tem uma conta? Crie uma agora!
  </button>
  <!--<button ion-button block clear (click)="resetPwd()">
    Forgot Password
  </button>-->
</ion-content>
